* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.6;

  /* background-color: #495163; */
}

h1,
h2,
strong {
  font-weight: 700;
}

/* ==================
    general layout
===================== */

.container-main {
  max-width: 1200px;
  margin: 0 auto;

  border: 1px solid magenta;
}

/* navigation */

.nav-list {
  display: flex;
  justify-content: right;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-link {
  color: #404040;
}

.flex {
  display: flex;
}

.col {
  border: 1px solid green;
}

.my-photo {
  max-width: 100%;
  border: 5px solid #404040;
  border-radius: 999px;
}

.footer {
  background-color: #505050;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-github {
  display: flex;
}

.github-icon {
  width: 32px;
  /* background-color: #404040; */
}

.temp-border {
  border: 1px solid;
}
